
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Homepage
    </title>
    <link rel="stylesheet" type="text/css" href="/css/styles.min.css">
  </head>
  <body class="body">
    <header>
      <ul class="navbar-menu">
        <li class="navbar-menu__item"><a class="navbar-menu__item link" href="#">Features</a></li>
        <li class="navbar-menu__item"><a class="navbar-menu__item link" href="#">Demo</a></li>
        <li class="navbar-menu__item"><a class="navbar-menu__item link" href="#">Blog</a></li>
        <li class="navbar-menu__item"><a class="navbar-menu__item link" href="#">Support</a></li>
        <li class="navbar-menu__item"><a class="navbar-menu__item link" href="#">About Us</a></li>

        <ul class="navbar-auth">
            <li class="navbar-auth__item">
          <li class="navbar-auth__item">
            <div sec:authorize="isAnonymous()">
              <a class="navbar-auth__item link" href="#" id="sign-up">Sign up</a>
            </div>
          </li>
          <li class="navbar-auth__item">
            <div sec:authorize="isAnonymous()">
              <a class="navbar-auth__item link" id="login">Login</a>
            </div>
          </li>
          <li class="navbar-auth__item">
            <div sec:authorize="isAuthenticated()">
              <a class="navbar-auth__item link" href="/business/account">Profile</a>
            </div>
          </li>
          <li class="navbar-auth__item">
            <div sec:authorize="isAuthenticated()">
              <a class="navbar-auth__item link" th:href="@{/logout}">Logout</a>
            </div>
          </li>
        </ul>
      </ul>
    </header>
    <div class="jumbotron">
      <h1 class="jumbotron__h1">CHARGACARD   </h1>
      <p class="jumbotron__p">Changing the face of money</p><a class="jumbotron__button" href="/SignUpForBusiness">SIGN UP FOR FREE</a>
    </div>
    <div class="business-and-individual">
      <p class="business-and-individual__header">For buisnesses and Individuals</p>
      <p class="business-and-individual__description">
        For the first time history, ChargaCard's peer-2-peer platform allows merchants,
        customer,individuals and businesses to transact directly without third-party financial
        institutions, in oreder to build better relationships and shopping experiences and to
        seamlessly and securely manage their financial future.
      </p>
    </div>
    <div class="bar">
      <p class="bar__paragraph">Get ChargaCard for free. No monthly or annual fees.</p>
    </div>
    <ul class="headers">
      <li class="headers__item individual">Individual</li>
      <li class="headers__item businesses">Businesses</li>
    </ul>
    <div class="advantages">
      <div class="left-list">
        <ul class="advantages__individual"></ul>
        <li class="advantages__individual_item thumbnail"><img class="thumbnail__header-image" src="/image/sqr.svg">
          <h2 class="thumbnail__header">The New Way To Pay</h2>
          <p class="thumbnail__description">With a ChargaCard revolving credit line, get the products that you want, where you want! Now you can buy stuff from your favorite stores with merchant approved credit lines and not have to go through third-party financial institutions.</p><img class="thumbnail__image" src="../../static/image/card.png">
        </li>
        <li class="advantages__individual_item thumbnail"><img class="thumbnail__header-image" src="/image/sqr.svg">
          <h2 class="thumbnail__header">Credit. On Demand</h2>
          <p class="thumbnail__description">Tired of getting rejected by credit agencies? Your favorite stores now offer financing on demand. With the new ChargaScore credit scoring system the approval process is real-time, secure and accurate, allowing you to shop with a growing list of online stores.</p><img class="thumbnail__image" src="../../static/image/logo1.png">
        </li>
        <li class="advantages__individual_item thumbnail"><img class="thumbnail__header-image" src="/image/sqr.svg">
          <h2 class="thumbnail__header">Security you can Trust</h2>
          <p class="thumbnail__description">You connect directly to your stores. It's your ChargaCard. It's your life. We confrim every purchase via text message and the products are only shipped to your home or office, so your account is always secure.</p><img class="thumbnail__image" src="../../static/image/logo2.png">
        </li>
        <li class="advantages__individual_item thumbnail"><img class="thumbnail__header-image" src="/image/sqr.svg">
          <h2 class="thumbnail__header">ChargaCard for Students</h2>
          <p class="thumbnail__description">Start building a successful financial future today and save more with low interest rates. Use your card responsibly to build good credit. Establish good credit habits to improve your score. No annual fees. Standard APR 11.24% - 21.24% variable</p><img class="thumbnail__image" src="../../static/image/logo3.png">
        </li>
      </div>
      <div class="right-list">
        <ul class="advantages__businesses"></ul>
        <li class="advantages__businesses_item thumbnail"><img class="thumbnail__header-image" src="/image/sqr.svg">
          <h2 class="thumbnail__header">Access new client. Increase sales</h2>
          <p class="thumbnail__description">By offering your customers an alternative payment option, you can build better relationships and open the door to new customers and generate additional revenues. Grow and maintain unique client relationships. It's free. No hidden fees.</p><img class="thumbnail__image" src="../../static/image/logo4.png">
        </li>
        <li class="advantages__businesses_item thumbnail"><img class="thumbnail__header-image" src="/image/sqr.svg">
          <h2 class="thumbnail__header">Your ChargaCard. Your customers</h2>
          <p class="thumbnail__description">Customers want payment options. Start offering customers your own business branded ChargaCard today and Increase customer lifetime value. Take control of your business with your own ChargaCard. Convert potential customers into buyers. Loyalty redefined.</p><img class="thumbnail__image" src="../../static/image/logo5.png">
        </li>
        <li class="advantages__businesses_item thumbnail"><img class="thumbnail__header-image" src="/image/sqr.svg">
          <h2 class="thumbnail__header">Customized to generate revenue</h2>
          <p class="thumbnail__description">Your prospective client is trying to make the final decision on whether to buy or not to buy. Give your clients a free ChargaCard and finance their purchase allowing them to pay for your product in installments. The power of financing for your buisness.</p><img class="thumbnail__image" src="../../static/image/logo6.png">
        </li>
        <li class="advantages__businesses_item thumbnail"><img class="thumbnail__header-image" src="/image/sqr.svg">
          <h2 class="thumbnail__header">Free Custom Integration</h2>
          <p class="thumbnail__description">Our client specialists will personally walk you through the setup process. Let our expert team take the hassle out of getting you started. We will do the initial integration for you. No coding necessary. </p><img class="thumbnail__image" src="../../static/image/logo7.png">
        </li>
      </div>
    </div>
    <div class="study-case">
      <div class="study-case__individual">
        <h1 class="study-case__header">Individual</h1>
        <p class="study-case__discription">
          Improve your Credit Score
          By using ChargaCard with your favotite online
          stores, youcan build a new credit history with
          ChargaScore and improve you  credit score
          Here are some online stores where you could start shopping today with your new ChargaCard
        </p>
        <div class="study-case__individual-images"></div>
        <div class="study-case__individual_learn-more">LEARN MORE    </div>
      </div>
      <div class="study-case__businesses">
        <h1 class="study-case__header">Businesses</h1>
        <p class="study-case__discription">
          Generate a continuous stream of income.
          By offering clients a low-interest ChargaCard,
          you can build better client relationships and
          make additional revenue through interest earned.
          ChargaCard Interest Revenue Calculator
          How much can you make with ChargaCard?
          Calculate Now.
          It’s Free. Quick Setup.
        </p>
        <div class="study-case__businesses-images"></div>
        <div class="study-case__businesses_learn-more">LEARN MORE</div>
      </div>
    </div>
    <div class="quick-setup">   
      <p class="quick-setup__paragraph">Quick Setup</p><img class="quick-setup__image" src="/image/quick-setup.png">
    </div>
    <div class="popup-login">
      <div class="popup-login__background"></div>
      <div class="popup-login__window">
        <p class="popup-login__window_item popup-login__paragraph">Login</p><img class="popup-login__window_item popup-login__close" src="../../static/image/close.png">
       <!-- for me -->
        <form th:object="${userDto}" th:action="@{/appLogin}" class="popup-login__window_item popup-login__form" method="post">
          <input class="popup-login__window_item popup-login__form popup-login__e-mail" th:field="*{email}" type="email" id="email" placeholder="E-mail">
          <input class="popup-login__window_item popup-login__form popup-login__password" th:field="*{password}" type="password" id="password" placeholder="Password">
          <a class="popup-login__window_item popup-login__form popup-login__forgot-your-pass" id="forgotPass">Forgot password?</a>
          <!--<button id="btnSub" type="submit" class="btn-fill sign-up-btn">Sign in</button>-->
          <input class="popup-login__window_item popup-login__form popup-login__submit"  type="Submit" id="btnSub" value="Submit">
        </form>
      </div>
    </div>
    <footer>
      <ul class="footer-list">
        <li class="footer-list__item"><a class="footer-list__item footer-link" href="#">Terms and conditions</a></li>
        <li class="footer-list__item"><a class="footer-list__item footer-link" href="#">Privacy Policy</a></li>
        <li class="footer-list__item"><a class="footer-list__item footer-link" href="#">Sitemap</a></li>
      </ul><a class="footer-list__button" href="#">ChargaCard</a>
      <p class="footer-list__copyright">&copy;2016 Paytheos LLC DBA ChargaCard. All rights reserved.</p>
    </footer>
    <script src="../js/jquery-3.0.0.min.js"></script>
    <script src="../js/popup.js"></script>
  </body>
</html>